header {
  h1 {
    color: red;
  }
  h2{
    width: 80%;
    display: inline-block;
  }
  p{
    margin: 0;
    padding: 10px 0;
  }
}
.user{
  display: inline-block;
}

.itinerary {
  // display: flex;
  img{
    max-width: 300px;
    height: 200px;
  }
}
.image-wrapper{
  width: 50%;
  display: inline-block;
  float: left;
  margin-bottom: 15px;
  p{
    margin: 0;
  }
}
.travel-map{
  // display: flex;
}
.mapboxgl-missing-css{
  display: none;
}

.button{
  cursor: pointer;
  border: 1px solid #0F3273;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  background-color: #0F3273;
  width: 150px;
  a{
    color: #fff;
    text-decoration: initial;
  }
}