body{
  font-family: Gill Sans Extrabold, sans-serif;
}
header {
  border-bottom: 1px solid;
  padding-bottom: 30px;
  padding-left: 10px;
  h1 {
    color: red;
  }
  .h2{
    width: 80%;
    display: inline-block;
  }
  p{
    margin: 0;
    padding: 10px 0;
  }
  input{
    width: 21%;
    padding: 5px 3px;
  }
}
.header-left{
  float: left;
  width: 80%;
}
.referral{
  margin: 0;
}
.user{
  display: inline-block;
}

.itinerary {
  // display: flex;
  color: #fff;
  background: linear-gradient(-45deg, #00266b 0%, #3c588c 100%);
  padding-left: 10px;
  img{
    max-width: 300px;
    height: 200px;
  }
}
.image-wrapper{
  width: 50%;
  display: inline-block;
  float: left;
  margin: 15px 0;
  a{
    text-decoration: initial;
  }
  p{
    margin: 0;
    color: #fff;
  }
}
.travel-map{
  // display: flex;
}
.mapboxgl-missing-css{
  display: none;
}

.button{
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  color: #777777;
  padding: 10px 20px;
  // margin: 5px;
  // background-color: #0F3273;
  background: #fff;
  width: 150px;
  &.header-btn{
    border: 1px solid #0F3273;
    background-color: #0F3273;
    margin: 5px;
  }
  &.home{
    width: 30%;
    padding: 0;
    p{
      margin-left: 0;
      padding-left: 5px;
    }
  }
  a{
    color: #fff;
    text-decoration: initial;
  }
}
.reward{
  h1{
    margin: 0;
  }
  img{
    max-width: 300px;
    height: 200px;
  }
}
.title{
  font-weight: bold;
}
.gift{
  width: 30%;
  display: inline-block;
  text-align: center;
}

fieldset{
  min-height: 500px;
}